%div{:class => "fluxx-card-partial", "data-fluxx-src" => show_path_for_model(model, :show_funding_sources => true)}
  %h2
    Funding Sources
    = link_to image_tag('/fluxx_engine/theme/default/images/icons/add.png', :class=> 'add-button'), new_request_funding_source_path(:request_funding_source => {:request_id => model.id}),
        :class => 'to-modal' if @edit_funding_sources_enabled && can_current_user_edit_create_requests?
  %ol.funding-sources
    - if model.request_funding_sources.empty?
      %li
        %p= "No funding sources available"
    - else
      - total = 0
      - model.request_funding_sources.each do |funding_source| 
        - total += funding_source.funding_amount if funding_source.funding_amount
        %li.funding-source
          - if can_current_user_edit_create_requests?
            %span.delete-button= link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png", :class => 'delete-button'), funding_source, :class => 'as-delete' if @edit_funding_sources_enabled
          
          Amount - 
          - if @edit_funding_sources_enabled
            = link_to "#{number_to_currency funding_source.funding_amount}", edit_request_funding_source_path(funding_source), :class => 'to-modal'
          - else
            = number_to_currency funding_source.funding_amount
          <br />
          Source -
          = funding_source.funding_source.name if funding_source.funding_source
          <br />
          Initiatives - 
          -  program_names = []
          -  program_names << funding_source.program.name if funding_source.program
          -  program_names << funding_source.initiative.name if funding_source.initiative
          = program_names.join ', '
          <br />
    </li>
  %li
    %span{:class => "amount total"}
      = "#{number_to_currency total} Total Funding"