%fieldset.inputs
  %ol
    = form.input :fip_title, :label => "Title" if model.state_in(GrantRequest.pre_recommended_chain + Request.grant_states)
    = form.input :fip_projected_end_at, :label => "Projected End Date" if model.state_in(GrantRequest.pre_recommended_chain + Request.grant_states)
    = form.input :fip_type, :label => "#{I18n.t(:fip_name)} Type"

    = form.input :amount_requested, :label => "Amount Requested" if model.state_in(GrantRequest.pre_recommended_chain + Request.grant_states)

    - unless FLUXX_CONFIGURATION[:hide_program]
      = form.input :program, :label => I18n.t(:program_name), :as => :select, :collection => Program.load_all.map{|program| [program.name, program.id]}, :input_html => {:class => 'program-dropdown-select', 'data-related-child' => ".program-lead-select"}
    - program_leads = []
    - program_leads = form.object.program.load_users if form.object.program
    - unless FLUXX_CONFIGURATION[:hide_program]
      = form.input :program_lead, :label => I18n.t(:program_lead_name), :as => :select, :collection => program_leads.map{|user| [user.full_name, user.id]}, :input_html => {:class => 'program-lead-select', 'data-param'.to_sym => 'program_id', 'data-src'.to_sym => users_path(:format => 'autocomplete'), 'data-cache'.to_sym => 'program_lead_select'}

    - unless FLUXX_CONFIGURATION[:hide_program]
      = form.input :sub_program, :label => I18n.t(:sub_program_name), :as => :select, :collection => SubProgram.load_all.map{|sub_program| [sub_program.name, sub_program.id]}

    = form.input :project_summary, :label => "Project Summary", :as => :text

    = render :partial => "model_documents/list_model_documents", :locals => { :model => model} unless model.state_in(GrantRequest.new_states)
    = render(:partial => "grant_requests/approve_grant_details", :locals => { :model => model, :form => form}) if model.state_in(Request.grant_states)

    - unless model.state_in GrantRequest.new_states
      = form.input :initiative_types, :label => "Initiative types.", :label_class=>''
      = form.input(:amount_recommended, :label => "Recommended amount to fund.", :label_class=>'') if model.state_in(GrantRequest.new_states + GrantRequest.pre_recommended_chain + GrantRequest.approval_chain.up_to(:pending_president_approval) + GrantRequest.sent_back_states + Request.grant_states)
      = form.input :ierf_start_at, :label => "Start Date:"
      = form.input :ierf_proposed_end_at, :label => "Final Proposal Date:"
      = form.input :ierf_budget_end_at, :label => "Final Budget Date:"
      -# TODO ESH: = render :partial => "grant_requests/funding_sources", :locals => { :model => model, :form => form}
      = form.input :constituents, :label => "Constituents:", :as => :select, :wrapper_html => {:class => 'multiple-select-transfer'}
      = form.input :usa_means, :label => "Means:", :as => :select, :wrapper_html => {:class => 'multiple-select-transfer'}
      = form.input :china_means, :label => "Type of Organization (China use only):", :as => :select, :wrapper_html => {:class => 'multiple-select-transfer'}

    - unless model.state_in GrantRequest.new_states
      = form.input :ierf_goals, :label => "Goals: How does this grant or cluster of grants fit into your logic model?  What will this grant or cluster of grants accomplish if it is successful?", :label_class=>'wide_label'
      = form.input :ierf_tactics, :label => "Tactics: What are the primary means the grantee(s) will use?  How are the tactics linked to the strategy?", :label_class=>'wide_label'
      = form.input :ierf_probability, :label => "Probability: What is the likelihood that the grantee(s) will succeed in the tactics they lay out?  What are the possible failure scenarios?", :label_class=>'wide_label'

    - unless model.state_in GrantRequest.new_states
      = form.input :ierf_due_diligence_overlap, :label => "Does this grant overlap with other sectors or key funders?  If so, please explain which sectors/funder, and provide any scheduled meetings.", :label_class=>'wide_label'
      = form.input :ierf_due_diligence_risks, :label => "Does this grant pose any institutional risks to EF?  If yes, please explain how these issues will be addressed.", :label_class=>'wide_label'
      = form.input :ierf_due_diligence_noc4_work, :label => "Have you carefully reviewed the proposal and budget to make sure that they contain no C4 work?", :label_class=>'wide_label'
      = form.input :ierf_due_diligence_board_review, :label => "Does this grant warrant input and/or review by board members?  If yes, please list board member name and any related information.", :label_class=>'wide_label'

    = form.commit_button