= form.input :request_id, :as => :hidden
= form.input :funding_source, :label => 'Funding Source:', :as => :select, :collection => FundingSource.all.map {|funding_source| [funding_source.name, funding_source.id]}
= form.input :program, :label => "Program", :as => :select, :collection => Program.all.map{|program| [program.name, program.id]}
= form.input :initiative, :label => "Initiative", :as => :select, :collection => Initiative.all.map{|initiative| [initiative.name, initiative.id]}

= form.input :funding_amount


= form.commit_button
