- model ||= nil
- unless model
  - if params[:request_id]
    - model = BlobStruct.new :id => params[:request_id], :class => Request
%h3
  = "Funding Sources"
  &nbsp;&nbsp;
  = link_to image_tag('/images/fluxx_engine/theme/default/icons/add.png', :class=> 'add-button'), new_request_funding_source_path(:request_funding_source => {:request_id => model.id}), :title => 'Add A Funding Source', :class => 'to-modal', 'data-on-success' => 'refreshCaller,close' if params[:skip_wrapper] || current_user.has_create_for_model?(RequestFundingSource)

- if !models || models.empty?
  %p= "No funding sources available"
- else
  - total = 0
  - models.each do |funding_source| 
    - total += funding_source.funding_amount if funding_source.funding_amount
    %div
      %span.actions
        - if current_user.has_delete_for_model?(funding_source)
          = link_to image_tag("/images/fluxx_engine/theme/default/icons/delete.png", :class => 'delete-button'), funding_source, :class => 'as-delete', 'data-on-success' => 'refreshCaller'
      %dl.inline
        %dt= "Amount:"
        %dd
          - if current_user.has_update_for_model?(funding_source)
            = link_to "#{number_to_currency funding_source.funding_amount}", edit_request_funding_source_path(:id => funding_source, :as_modal => '1'), :class => 'to-modal', 'data-on-success' => 'refreshCaller,close'
          - else
            = number_to_currency funding_source.funding_amount 
        %dt= "Source:"
        %dd= funding_source.funding_source_allocation.funding_source.name if funding_source.funding_source_allocation && funding_source.funding_source_allocation.funding_source
        %dt= "Initiatives:" 
        %dd
          -  program_names = []
          -  program_names << funding_source.funding_source_allocation.program.name if funding_source.funding_source_allocation && funding_source.funding_source_allocation.program
          -  program_names << funding_source.funding_source_allocation.initiative.name if funding_source.funding_source_allocation && funding_source.funding_source_allocation.initiative
          = program_names.join ', '
      <hr/>
  %strong
    = number_to_currency total
    = 'Total Funding'
