%h1= model.title
%span= model.description

.pairs
  .key= 'Status:'
  .value= model.state.humanize if model.state

.pairs
  .key= 'Project Lead:'
  .value= model.lead_user.full_name if model.lead_user

.pairs
  .key= 'Project Type:'
  .value= model.project_type
  
.pairs
  .key= 'Last Updated:'
  .value= model.updated_at.mdy if model.updated_at
  
= render :partial => "project_lists/list_project_lists", :locals => { :model => model}

= render :partial => "project_users/list_project_users", :locals => { :model => model}
= render :partial => "project_organizations/list_project_organizations", :locals => { :model => model}
= render :partial => "project_requests/list_project_requests", :locals => { :model => model}
= render :partial => "project_requests/list_project_grants", :locals => { :model => model}
= render :partial => "wiki_documents/list_wiki_documents", :locals => { :model => model}