%h1= model.type_to_english

%div.subhead= render_request_or_grant_amount model.request, ' granted'
  
%div.subhead= render_program_name model.request
  
%div.description= render_grant_or_request_id model.request
  
- unless model.request.nil? || model.request.project_summary.blank?
  %div.description= model.request.project_summary

%h2
%div.description
  .pairs
    .key= "Status:"
    .value= model.state_to_english
  .pairs
    .key= "Program:"
    .value= model.request.program.name if model.request && model.request.program
  .pairs
    - if model.is_approved?
      .key= 'Approved At:'
      .value= model.approved_at.mdy if model.approved_at
    - if model.due_at
      .key= "Due:"
      .value= model.due_at.mdy if model.due_at
  
  - if model.is_eval_report_type?
    .pairs
      .keys= "Evaluation Rating:"
      .values= model.evaluation_rating

- unless model.is_eval_report_type?
  = render :partial => "model_documents/list_model_documents", :locals => { :model => model }
        
= render :partial => "notes/list_notes", :locals => { :model => model, :class_type => RequestReport.name}