.titlebar
  .title= @title
%table.tabular{:cellspacing => 0}
  %thead
    %tr
      %th
        Request
      %th
        Date Submitted
      %th
        Amount
      %th
        Program
      %th
        Status      
  -@data.each do |model|
    %tbody
      %tr
        %td.border= model.grant_or_request_id
        %td.border= mdy_date_format(model.request_received_at)
        %td.border= dollars_format(model.granted? ? model.amount_recommended : model.amount_requested)
        %td.border= (model.program ? model.program.name : '')
        %td.border= (model.state.nil? ? '' : model.state.humanize)
      %tr
        %td{:colspan => 5}= model.project_summary
%p
= render :partial => "paging_actions"
