- reject_buttons = buttons.select {|button| event_name, english_event_name = button; english_event_name =~ /reject/i}
- send_back_buttons = buttons.select {|button| event_name, english_event_name = button; english_event_name =~ /send back/i}
- other_buttons = (buttons - reject_buttons) - send_back_buttons
- reordered_buttons =  reject_buttons + send_back_buttons + other_buttons
- reordered_buttons.each do |button_clause|
  - event_name, english_event_name = button_clause
  - # There are a couple of special cases where action buttons should go to edit; one is for turning a request into a grant, the other is when marking a request transaction as paid; see below
  - if event_name.to_s == 'become_grant'
    %li= link_to english_event_name, self.send("edit_#{@model_name}_path", {:approve_grant_details => true}), :class => 'to-self'
  - elsif event_name.to_s == 'mark_paid'
    %li= link_to english_event_name, self.send("edit_#{@model_name}_path", :hidden_event_action => event_name), :class => 'to-self'
  - else
    %li= link_to english_event_name, self.send("#{@model_name}_path", {:event_action => event_name}), :class => 'as-put with-note', 'data-note-param'.to_sym => "#{@model_name}[workflow_note]"