%html
  %head
    %title Fluxx Grant
    %meta{:name => "application-name", :content => "Fluxx" }
    %meta{:name => "description", :content => "Fluxx - The Open Source Grants Management Platform" }
    %link{:rel => "icon", :href => "/images/fluxx_engine/theme/default/icons/fluxx_128x128.png", :sizes => "128x128" }
    = stylesheet_link_tag :all
    = stylesheet_link_tag '/stylesheets/compiled/fluxx_engine/theme/default/grantee_portal.css'
    - preload_javascripts = Dir.glob("#{Rails.root}/public/javascripts/fluxx_engine/lib/*.js").map{|filename| filename.gsub("#{Rails.root}/public", '')}.select{|filename| filename =~ /lib\/jquery/}
    - preload_javascripts.sort.each do |filename|
      = javascript_include_tag filename
    = javascript_include_tag '/javascripts/fluxx_grant/fluxx.grantee_portal.js'  
    = csrf_meta_tag
  %body
    .container
      .pinwheel
      = yield
